.clearfix {
	clear: both;
}

button.mass_edit_save {
	background-color: greenyellow;
	margin-right: 10px;
}

button.mass_edit_cancel {
	background-color: red;
}

.error {
	margin-top: 10px;
	color: red;
}
div#custom_filterContainer div.allConditionContainer {
	display: none;
}